@model DatabaseAccess.TimeTblTable

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-lg">
    <div class="card-header bg-gradient-primary text-white">
        <h4 class="card-title">Time Table Details</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover text-center">
            <tbody>
                <tr>
                    <th class="bg-light">Start Time</th>
                    <td>@Html.DisplayFor(model => model.StartTime)</td>
                </tr>
                <tr>
                    <th class="bg-light">End Time</th>
                    <td>@Html.DisplayFor(model => model.EndTime)</td>
                </tr>
                <tr>
                    <th class="bg-light">Day</th>
                    <td>@Html.DisplayFor(model => model.Day)</td>
                </tr>
                <tr>
                    <th class="bg-light">Is Active</th>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>
                <tr>
                    <th class="bg-light">Class Subject</th>
                    <td>@Html.DisplayFor(model => model.ClassSubjectTable.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">Staff</th>
                    <td>@Html.DisplayFor(model => model.StaffTable.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">User</th>
                    <td>@Html.DisplayFor(model => model.UserTable.FullName)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.TimeTableID }, new { @class = "btn btn-primary mx-2" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mx-2" })
    </div>
</div>
