@model IEnumerable<DatabaseAccess.ExpensesTable>

@{
    ViewBag.Title = "Index";
}
@{
    int usertypeid = Convert.ToInt32(Convert.ToString(Session["UserTypeID"]));
    if (usertypeid == 1)
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </p>
    }

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Expenses Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Student
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpensesDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseTypeTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td class="btn btn-group-vertical">
                                @{
                                    if (usertypeid == 1)
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ExpensesID }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Details", "Details", new { id = item.ExpensesID }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ExpensesID }, new { @class = "btn btn-danger" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Details", "Details", new { id = item.ExpensesID }, new { @class = "btn btn-info" })
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
