@model DatabaseAccess.AnnualTable

@{
    ViewBag.Title = "Promote Fee";
}

<div class="card shadow-lg">
    <div class="card-header bg-gradient-primary text-white">
        <h4 class="card-title">Annual/Promote Fee Details</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover text-center">
            <tbody>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.Title)</th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.Description)</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.Fees)</th>
                    <td>@Html.DisplayFor(model => model.Fees)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.IsActive)</th>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ProgrameTable.Name)</th>
                    <td>@Html.DisplayFor(model => model.ProgrameTable.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.UserTable.FullName)</th>
                    <td>@Html.DisplayFor(model => model.UserTable.FullName)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.AnnualID }, new { @class = "btn btn-primary mx-2" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mx-2" })
    </div>
</div>
