@model DatabaseAccess.StudentPromotTable

@{
    ViewBag.Title = "Details";
}


<div class="card shadow-lg">
    <div class="card-header bg-gradient-primary text-white">
        <h4 class="card-title">Student Promotion Details</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover text-center">
            <tbody>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.PromoteDate)</th>
                    <td>@Html.DisplayFor(model => model.PromoteDate)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.AnnualFee)</th>
                    <td>@Html.DisplayFor(model => model.AnnualFee)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.IsActive)</th>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.IsSubmit)</th>
                    <td>@Html.DisplayFor(model => model.IsSubmit)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ClassTable.Name)</th>
                    <td>@Html.DisplayFor(model => model.ClassTable.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ProgrameSessionTable.Details)</th>
                    <td>@Html.DisplayFor(model => model.ProgrameSessionTable.Details)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.SectionTable.SectionName)</th>
                    <td>@Html.DisplayFor(model => model.SectionTable.SectionName)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.StudentTable.Name)</th>
                    <td>@Html.DisplayFor(model => model.StudentTable.Name)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentPromotID }, new { @class = "btn btn-primary mx-2" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mx-2" })
    </div>
</div>
