@model IEnumerable<DatabaseAccess.StaffTable>

@{
    ViewBag.Title = "Employees";
}
<p>
    @Html.ActionLink("Staff Registeration", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Employe's</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center align-middle" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Employee No
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Conntact No
                        </th>
                        <th>
                            Salary
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Photo
                        </th>
                        <th>
                            Status
                        </th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem=>item.StaffID)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.BasicSalary)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td class="align-middle">
                                @*@Url.Content(item.Photo)*@
                                @if (!string.IsNullOrEmpty(item.Photo))
                                {
                                    <img class="img-profile rounded"
                                         src="@Url.Content(item.Photo)" height="112" width="97">
                                }

                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                            <td class="btn btn-group-vertical align-middle">
                                @*@{
                                    if (item.DesignationID == 1 || item.DesignationID == 4 || item.DesignationID == 5)
                                    {
                                        @Html.ActionLink("Class Time Table", "TeacherReport", "TimeTableReports", new { id = item.StaffID }, new { @class = "btn btn-primary" })
                                    }
                                }*@
                                @*@Html.ActionLink("Attendance", "StaffAttendance", "AttendanceReports", new { id = item.StaffID }, new { @class = "btn btn-info" })*@
                                @Html.ActionLink("Edit", "Edit", new { id = item.StaffID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.StaffID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete","Delete",new { id = item.StaffID}, new {@class = "btn btn-danger"})
                                @*@Html.ActionLink("Add Resume", "CheckCV", "Resume", new { id = item.StaffID }, new { @class = "btn btn-success" })*@
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
