@model DatabaseAccess.ExamTable

@{
    ViewData["Title"] = "Exam Details";
}

<div class="card shadow-lg">
    <div class="card-header bg-gradient-primary text-white">
        <h4 class="card-title">Exam Details</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover text-center">
            <tbody>
                <tr>
                    <th class="bg-light">Title</th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th class="bg-light">Start Date</th>
                    <td>@Html.DisplayFor(model => model.StartDate)</td>
                </tr>
                <tr>
                    <th class="bg-light">End Date</th>
                    <td>@Html.DisplayFor(model => model.EndDate)</td>
                </tr>
                <tr>
                    <th class="bg-light">Description</th>
                    <td>@Html.DisplayFor(model => model.Descrption)</td>
                </tr>
                <tr>
                    <th class="bg-light">User</th>
                    <td>@Html.DisplayFor(model => model.UserTable.FullName)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ExamID }, new { @class = "btn btn-primary mx-2" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mx-2" })
    </div>
</div>
