@model DatabaseAccess.ClassSubjectTable

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow-lg">
    <div class="card-header bg-gradient-primary text-white">
        <h4 class="card-title">Class Subject Details</h4>
    </div>
    <div class="card-body">
        <h3>Are you sure you want to delete this?</h3>
        <table class="table table-bordered table-hover text-center">
            <tbody>
                <tr>
                    <th class="bg-light">Class Subject Title</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">Class Title</th>
                    <td>@Html.DisplayFor(model => model.ClassTable.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">Subject Title</th>
                    <td>@Html.DisplayFor(model => model.SubjectTable.Name)</td>
                </tr>
                <tr>
                    <th class="bg-light">Status</th>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-danger mx-2" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mx-2" })
        }
    </div>
</div>
